*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light-mode {
  background: #fff;
  color: #24292e;
  transition: background 0.12s ease, color 0.12s ease;
}

body.dark-mode {
  background: #000;
  color: #e9e9e9;
  transition: background 0.12s ease, color 0.12s ease;
}

code {
  font-family: ui-monospace, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  cursor: pointer;
  text-align: inherit;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  white-space: nowrap;
  color: inherit;
}

@font-face {
  font-family: "iA Writer";
  src: url("./assets/fonts/iAWriterQuattroS-Regular.woff2") format("woff2"),
    url("./assets/fonts/iAWriterQuattroS-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Sectra";
  src: url("./assets/fonts/GT-Sectra-Regular.woff2") format("woff2"),
    url("./assets/fonts/GT-Sectra-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Sectra";
  src: url("./assets/fonts/GT-Sectra-Bold.woff2") format("woff2"),
    url("./assets/fonts/GT-Sectra-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-ExtraLight.woff2") format("woff2"),
    url("./assets/fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("./assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.woff2") format("woff2"),
    url("./assets/fonts/Inter-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("./assets/fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("./assets/fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

h1 {
  margin: 0;

  font-family: "Inter";
  font-weight: 800;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: -0.019em;
  overflow-wrap: break-word;
  transition: font 0.15s ease;
}

h2 {
  margin: 0 -0.7%;
  z-index: -1;
  user-select: none;

  font-family: "Inter";
  font-weight: 200;
  font-size: 84px;
  line-height: 88px;
  letter-spacing: -0.022em;
  transition: font 0.15s ease;
}

h3 {
  margin: 0;

  font-family: "Inter";
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.016em;
  transition: font 0.15s ease;
}

h3 span {
  border-bottom: transparent 1px solid;
  transition: border-bottom 0.15s ease;
}

h4 {
  margin: 0;

  font-family: "Inter";
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.015em;
  transition: font 0.15s ease;
}

h5 {
  margin: 0;

  font-family: "iA Writer";
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.011em;
  transition: font 0.15s ease;
}

p {
  margin: 0;

  font-family: "GT Sectra";
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0em;
  transition: font 0.15s ease;
}

p span {
  margin: 2px 0 -2px;

  font-family: "iA Writer";
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.009em;
  padding-inline-start: 0;
  padding-inline-end: 0;
  transition: font 0.15s ease;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 66px;
    line-height: 80px;
  }
  
  h2 {
    margin: 0 -1.2%;
    font-size: 180px;
    line-height: 184px;
    letter-spacing: -0.023em;
  }
  
  h3 {
    font-size: 42px;
    line-height: 56px;
    letter-spacing: -0.016em;
  }
  
  
  h4 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.013em;
  }
  
  h5 {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.014em;
  }
  
  p {
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0em;
  }
  
  p span {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.011em;
  }
}

@media screen and (min-width: 1360px) {
  h1 {
    font-size: 84px;
    line-height: 96px;
  }
  
  h2 {
    margin: 0 -1.3%;
    font-size: 242px;
    line-height: 232px;
    letter-spacing: -0.025em;
  }
  
  h3 {
    font-size: 46px;
    line-height: 56px;
    letter-spacing: -0.016em;
  }
  
  
  h4 {
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 0.01em;
  }
  
  h5 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.016em;
  }
  
  p {
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0em;
  }
  
  p span {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.014em;
  }
}